.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 500px; */
    width: 70%;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
}

@media (max-width: 500px) {
    .modal {
        left: 0px;
        margin: 0px 10px;
    }
  }

.modal-title {
    color: white;
}

.modal-label {
    font-weight: bold;
    color: white;
    align-self: flex-start;
}